:root {
    /* Colors */
    --primary-color: rgb(221, 171, 160);
    --primary-color-hoverd: rgb(201, 151, 140);

    --white: rgb(255, 255, 255);
    --dark: rgb(48, 48, 48);
    --gray: rgb(108, 117, 125);
    --light-gray: rgb(248, 249, 250);

    /* typography and fonts */
    --poppins: "Open Sans", serif;
    --noto-Serif:"Noto Serif", serif;
    --cairo: "Cairo", sans-serif;

    /*
    Font sizes
    */
    --large_fs: 50px;
    --medium_fs: 25px;
    --normal_fs: 17px;
    --small_fs: 15px;

    /*
    weights
    */
    --bold: 700;
    --medium: 500;
}